* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
.SideLogoOutter{
    height: 200px;
    position: fixed;
    bottom: 150px;
    right: 0px;
    z-index: 6;
}
.SideLogo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.SideLogo img{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0px;
}
.SideLogo:hover img{
    transform: rotate(360deg);
    transition: 1s;
}
.SideLogo:hover span{
    transform: scaleX(1);
    transition: 0.5s;
}
.SideLogo span{
    width: 200px;
    padding: 8px 10px;
    border-radius: 30px 0px 0px 30px ;
    background-color: white;
    color: black;
    transform: scaleX(0);
}
.modal {
    width: 500px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 199;
    left: 50%;
    transition: 0.5s;
    top: -1000px;
    transform: translate(-50%);
    /* background: white; */
    background-color: white;
    z-index: 134;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.modal h3 {
    position: relative;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;
}

.modal h3 span {
    position: absolute;
    right: 10px;
    color: #ccc;
    cursor: pointer;
}

.modal p {
    color: #ccc;
    text-align: center;
    line-height: 24px;
}

.modal input {
    width: 100%;
    padding: 15px 10px;
    background: #f0f4f5;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-bottom: 20px;
}

.modal textarea {
    width: 100%;
    height: 100px;
    padding: 15px 10px;
    background: #f0f4f5;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-bottom: 20px;
}

.modal button {
    width: 100%;
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 20px;
}

.GalleryOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 879;
    display: none;
}

.GalleryOverlayShow {
    display: block;
}

.lightBoxMid {
    width: 70%;

    position: fixed;
    left: 10%;
    top: 10%;
    transform: scale(0);
    z-index: 899;
}

.lightBoxMid img {
    width: 100%;
    height: 400px;
}

.lightBoxMid span {
    position: absolute;
    right: 0px;
    font-size: 50px;
    cursor: pointer;
}

.lightBoxMidShow {
    transform: scale(1);
}

header {
    width: 100%;
    box-shadow: 0px 2px 10px 0px #ccc;
    position: sticky;
    top: 0%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    z-index: 45;
}

header figure {
    flex-basis: 15%;
}

header figure img {
    height: 80px;
    background: white;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headerRight {
    flex-grow: 1;
    
}

.headerRight nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.headerRight nav ul li a {
    color: #004182;
    font-size: 16px;
    font-weight: bold;
}

.headerRight nav .headerBtn1 {
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    padding: 10px 15px;
    text-align: end;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.headerRight nav .headerBtn2 {
    border: 2px solid #f3842f !important;
    padding: 10px 20px;
    margin-left: 15px;
    flex-grow: 1;
    text-align: end;
    color: #f3842f;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
}

.mIcon {
    display: none;
}

.showMenu {
    right: 0% !important;
}

.bannerSection {
    width: 100%;
}

.bannerSection figure {
    width: 100%;
}

.bannerSection figure img {
    width: 100%;
    height: auto;
}

.freeSiteVisit {
    width: 100%;
    background-color: #316799;
    padding: 50px 0px;
}


.freeSiteVisitMid {
    max-width: 1170px;
    margin: auto;
}

.freeSiteVisit h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-left: 180px;
    margin-bottom: 20px;
}


.freeSiteVisitMid form {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.freeSiteVisitMid form input {
    padding: 15px 20px;
}

.freeSiteVisitMid form button {
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.whySmartCity {
    width: 100%;
    background-color: #f2f2f2;
    padding: 50px 0px 70px 0px;
}

.whySmartCity h3 {
    font-size: 30px;
    text-align: center;
    color: #004182;
    margin-bottom: 10px;
}

.whySmartCity p {
    text-align: center;
    margin-bottom: 20px;
}

.whySmartCityMid {
    max-width: 1170px;
    margin: auto;
    
}

.smartCityContent img {
    width: 100%;
}

.ProjectSection {
    width: 100%;
    padding: 50px 0px;
}

.ProjectMid {
    max-width: 1170px;
    margin: auto;
    display: flex;
    gap: 20px;
}

.ProjectMid figure {
    flex-basis: 48%;
}

.ProjectMid figure img {
    width: 100%;
    height: auto;
    border: none;
}

.ProjectOverview {
    flex-basis: 48%;
}

.ProjectOverview h2 {
    color: #316799;
    font-size: 30px;
    font-weight: 600;
}

.ProjectOverview article {
    margin: 20px 0px;
}

.ProjectOverview article p {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.ProjectOverview ul li {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
}

.ProjectOverview ul li i {
    font-size: 14px;
    color: #2d71b5;
    margin-right: 0px;
}

.ProjectOverview button {
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.moreThanPlotSection {
    width: 100%;
    background-color: #f7f7f7;
    padding: 50px 0px;
}

.moreThanPlotSection h2 {
    text-align: center;
    color: #316799;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 10px;
}

.moreThanPlotSection>p {
    text-align: center;
    padding: 10px 50px;
    line-height: 28px;
    font-size: 17px;
    font-weight: 100;
}

.moreThanPlotMid {
    max-width: 1170px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
}

.moreThanPlotC1 {
    flex-basis: 30%;
}

.moreThanPlotContent,
.moreThanPlotContent3 {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.moreThanPlotContent img {
    flex-basis: 20%;
    width: 100%;
}

.moreThanPlotContent3 img {
    flex-basis: 20%;
    width: 100%;
    text-align: right;
}

.moreThanPlotContent p {
    flex-basis: auto;
    text-align: left;
    font-weight: 650;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.moreThanPlotC2 {
    flex-basis: 30%;
}

.moreThanPlotContent3 p {
    flex-basis: 80%;
    text-align: right;
    font-weight: 650;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.ImageSection {
    width: 100%;
    padding-top: 50px;
}

.ImageSection figure {
    text-align: center;
}

.ImageSection figure img {
    width: 250px;
    height: auto;
}

.ImageSection p {
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
}

.paragraphSection {
    width: 100%;
}

.paragraphMid {
    max-width: 1170px;
    margin: auto;
}

.paragraphMid p {
    margin-top: 20px;
    line-height: 24px;
    font-size: 14px;
}

.plotAmenitiesSection {
    width: 100%;
}

.plotAmenitiesMid {
    max-width: 1170px;
    margin: auto;
    display: grid;
    gap: 30px;
    padding: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.plotAmenities {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 3px #ccc;
    text-align: center;
    padding: 30px 0px 40px 0px;
}

.plotAmenities h3 {
    font-size: 24px;
    padding: 5px 0px;
}

.plotAmenities p {
    font-size: 14px;
    font-weight: 700;
}
.plotPrice{
    width: 100%;
    margin: 30px 0px;
}
.plotPriceMid{
    max-width: 1170px;
    margin: auto;
    text-align: center;
}

.plotPriceMid h2{
    color: #316799;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.plotPriceMid>p{
    color: #316799;
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 600;
}
table {
    text-align: center;
    width: 800px;
    margin: auto;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

thead tr {
    background-color: #316799; /* Blue header background */
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;

}

.unlock-btn {
    background-color: black; /* Yellow button background */
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
.unlock-btn i{
    color: #fcab4e;
}

.unlock-btn:hover {
    background-color: #e0a800;
    color: black;
}

.fas {
    margin-right: 5px;
}


.plotImg {
    width: 100%;
    margin: 30px 0px;
}

.plotImg figure {
    width: 60%;
    margin: auto;
}

.plotImg figure img {
    width: 100%;
}

.highlightsSection {
    width: 100%;
    margin: 40px 0px;
}

.highlightsSection h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.highlightMid {
    max-width: 1170px;
    margin: auto;
    padding: 30px 0px;
}

.highlightOutter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.highlights {
    text-align: center;
}

.highlights i {
    display: none;
}

.highlights p {
    padding-top: 5px;
    font-size: 14px;
}

.highlightBtn {
    text-align: center;
}

.highlightBtn button {
    margin-top: 70px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .5);
    background-image: linear-gradient(315deg, #f0af00 0%, #ffc820 74%);
    color: #000;
    font-size: 23px;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.videoSection {
    width: 100%;
}

.videoSection h2 {
    text-align: center;
    text-transform: uppercase;
    color: #316799;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.videoSection p {
    text-align: center;
    padding: 10px 50px;
    line-height: 28px;
    font-size: 17px;
    font-weight: 100;
}

.videoMid {
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px 0px;
}

.videoOutter {
    position: relative;
    z-index: 0;

}

.videoOutter iframe {
    width: 100%;
    height: 350px;
}



.sitePlan,
.location {
    width: 100%;
    margin: 70px 0px;
}

.sitePlan h2,
.location h2 {
    text-align: center;
    text-transform: uppercase;
    color: #316799;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sitePlan p,
.location p,
.homeLoan p {
    text-align: center;
    padding: 10px 50px;
    line-height: 28px;
    font-size: 17px;
    font-weight: 100;
}

.sitePlanMid,
.locationMid {
    max-width: 730px;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
    cursor: pointer;
}

.sitePlanMid figure img,
.locationMid figure img {
    width: 100%;
}

.sitePlanMid button {
    margin-top: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .5);
    background-image: linear-gradient(315deg, #f0af00 0%, #ffc820 74%);
    color: #000;
    font-size: 23px;
    padding: 20px 40px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
}

.mapSection {
    width: 100%;
    padding: 30px 0px;
}

.mapSection iframe {
    width: 100%;
}
.LandMarks,.FAQSection{
    width: 100%;
    margin: 50px 0px;
}
.LandMarkMid,.FAQMid{
    max-width: 970px;
    margin: auto;
}
.LandMarkMid h4,.FAQMid h4{
    font-size: 18px;
    font-weight: 300;
    padding: 16px 0px;
    text-transform: uppercase;
    cursor: pointer;
}
.LandMarkMid h4 span,.FAQMid h4 span{
    padding-right: 5px;
}
.LandMarkMid ul,.FAQMid p{
    max-height: 0px;
    transform: scaleY(0);
}
.LandMarkMid ul li,.FAQMid p{
    font-size: 14px;
    line-height: 24px;
}
.LandMarkAns,.FAQAns{
    max-height: 500px !important;
    transform: scaleY(1) !important;
}
.AmenitiesMid{
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 30px 0px;
}
.amenitiesOutter{
    text-align: center;
}
.amenitiesOutter h4{
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
}
.GallerySection,
.homeLoan {
    width: 100%;
    margin: 40px 0px;
}
.Amenities {
    width: 100%;
    margin: 90px 0px;
}
.Amenities p{
    text-align: center;
    padding: 40px 0px 10px 0px;
}
.GallerySection h2,
.homeLoan h2 ,.LandMarks h2,.Amenities h2,.FAQSection h2{
    text-align: center;
    text-transform: uppercase;
    color: #316799;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.FAQSection >p{
    text-align: center;
    padding: 20px 0px;
}
.GalleryMid {
    max-width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.GalleryMid figure img {
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.homeLoanMid {
    max-width: 1170px;
    margin: auto;
    display: grid;
    gap: 10px;
    padding: 40px;
    grid-template-columns: repeat(6, 1fr);
}

.homeLoanOutter {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 3px #ccc;
    text-align: center;
    padding: 20px 10px;
}

.homeLoanOutter img {
    width: 100%;
}

.ScheduleSection {
    width: 100%;
    background-color: #f7f7f7;
    padding: 70px 0px;
}

.ScheduleMid {
    max-width: 1170px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    border: 5px solid #0886c7;
    align-items: center;
}

.ScheduleMid figure img {
    width: 100%;
}

.ScheduleContent h2 {
    text-transform: uppercase;
    color: #316799;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ScheduleContent p {
    line-height: 26px;
    font-size: 15px;
    margin: 20px 0px;
}

.ScheduleBtn {
    display: flex;
    gap: 15px;
}

.ScheduleBtn button {
    background-image: linear-gradient(to right, #4a9c46, #3db138, #40d954, #5cc044, #4b9f45);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

footer {
    width: 100%;
    background-color: #316799;
    padding: 80px 0px;
}

.footerMid {
    max-width: 1170px;
    margin: auto;
    padding: 30px 0px;
}

.footerUpper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerUpperLeft h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: right;
}

.footerUpperRight {
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 28px;
}
.footerLower {
    margin-top: 100px;
    text-align: center;
}

.footerLower p {
    color: #cad6e3;
    font-size: 14px;
    margin-bottom: 7px;
}

.footerLower ul {
    display: flex;
    justify-content: center;
}

.footerLower ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #cad6e3;
}